<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Welcome to our data science project website! We are a team of computer science students who are passionate about using data science to extract insights.</p>

        <p>Our project focuses on analyzing tweets regarding Leni Robredo's allegiance with CPP-NDA-NDF. This was very prominent during the 2022 Philippine Presidential Elections. We are interested in understanding the underlying patterns and relationships within the data from tweets, and using this knowledge to make informed decisions.</p>
        
        <p>Allow us to introduce our team members who have been working hard on this project:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <p>Gabriel Enriquez is a junior computer science student who is very interested in database management and mobile application development. He has some experience when it comes to Python programming and is currently taking on IT Project Management involving route-finding and mapping.</p>
      </div>
      <div class="col-lg-3">
        <p>Mikhaela Tapia is a junior computer science student who is an aspiring web and mobile developer. Her experience in developing web and mobile applications uses frameworks including but not limited to ExpressJS, React and React Native. Currently, she is also trying to dive into Web3 development. </p>
      </div>
      <div class="col-lg-3">
        <p>Zedec Pacaldo is a junior computer science student who is passionate mobile and web development. He has experience in Python programming and has worked on various school projects revolving around Artificial Intelligence and Software Engineering.</p>
      </div>
    </div>
    <div class="row">
        <p>Together, we make a dynamic team that brings different perspectives and skills to the project. We are excited to share our findings and insights with you and hope that our project will inspire others to explore the fascinating world of data science.</p>
    </div>
    </div>
  </div>
</section>
